<h1>Si prega di scegliere la categoria</h1>
<div class="category-cards">
  <% Category.buyable.order(:number).find_each do |c| %>  
    <div class="card">
      <%= link_to new_category_good_request_path(c) do %>
        <div class="card-body">
          <%= category_icon(c, size: 40)  %> 
          <br/><br/>
          <%= c.name.upcase %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

