<h1>Si prega di scegliere la categoria</h1>
<div class="category-cards">
  <% Category.buyable.order(:number).find_each do |c| %>  
    <div class="card">
      <%= link_to new_category_good_request_path(c) do %>
        <button class="card-body btn btn-lg bt-info" style="width: 100%">
          <%= category_icon(c, size: 40)  %> 
          <br/><br/>
          <%= c.name.upcase %>
        </button>
      <% end %>
    </div>
  <% end %>
</div>

