Sono disponibili le seguenti convenzioni attive da cui scegliere:  
<% @available_agreements.each do |ma| %>  
  <div>
    <%= render ma, with_button: true %>  
  </div>
<% end %>
<p>
Altrimenti, qualora le convenzioni attive [........]
</p>
<p>
<%= link_to dmicon('plus', text: 'Richiedo di acquistare fuori dalle convenzioni'), new_category_good_request_path(@good_request.category, outside_agreements: 1), class: 'btn btn-danger' %>  
</p>

