<h1>Nuove richieste di acquisto</h1>

<div class="list-group">
  <% @good_requests.each do |gr| %>  
    <%= render gr %>  
  <% end %>
</div>

<div style="text-align: center">
  <div class="my-3">
    <%= link_to servers_path do %>
      <button class="btn btn-lg btn-info py-3" style="width: 75%; font-size: 200%">
        <%= icon('server', size: 60) %> <br/> UTILIZZO REMOTO <br/>RISORSE DI CALCOLO
      </button> 
    <% end %>
  </div>
</div>
