<h1>Beni da disinventariare <%= current_organization %></h1>

<table>
  <% @goods.order(:inv_number).each do |g| %>  
    <tr>
      <th style="border: 1px solid; padding: 15px; text-align: right"><%= g.inv_number %></th>
      <td><%= g.unibo_description %> <%= g.build_year %>  </td>
    </tr>
  <% end %>
</table>
