<h1>Convenzioni</h1>

<% @main_agreements.each do |ma| %>  
  <%= render ma, with_button: true %>  
  <div class="list-group">
  <% ma.good_requests.each do |gr| %>  
    <div class="list-group-item list-group-item-success"><%= gr.user.cn %>: <%= link_to gr, [:edit, gr] %></div>
  <% end %>
  </div>
<% end %>

<% if policy(current_organization).manage? %>  
  <p class="m-3">
  <%= link_to 'NUOVA CONVENZIONE', new_main_agreement_path, class: 'btn btn-primary' %>  
  </p>
<% end %>

