@import "dm_unibo_common/variables";
@import "dm_unibo_common/dm";

input.choosen_dsauser {
  @extend .form-control;
  width: 30em;
}

span.twitter-typeahead {
  .tt-menu {
    @extend .dropdown-menu;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor {
    @extend .dropdown-item.active;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }
  }
}

.card-columns {
  column-count: 2;
  @media (min-width: 800px) { 
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

.inv_number {
  @extend .btn;
  @extend .btn-sm;
  font-weight: bold;
  font-size: 16px;
  &.found {
    @extend .badge-primary;
    font-size: 130%;
  }
}
.without-owner {
  @extend .btn-danger;
}
.with-owner {
  @extend .btn-success;
}
.unload-good {
  @extend .bg-warning;
}

.old_inv_number {
  @extend .badge;
  @extend .badge-secondary;
  &.found {
    @extend .badge-primary;
    font-size: 100%;
  }
}

.category-cards {
  @extend .my-5;
  @extend .card-columns;
  column-count: 2;
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  .card-body {
    text-align: center;
    font-weight: bold;
    @extend .text-white;
    @extend .bg-info;
    font-size: 20px;
  }
}

.users-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.users-list-letter {
  font-weight: bold;
  grid-column-start: 1; 
  grid-column-end: 2; 
}

@import "bookings";

