@import "dm_unibo_common/variables";
@import "dm_unibo_common/dm";
@import "card_columns";

input.choosen_dsauser {
  @extend .form-control;
  width: 30em;
}

span.twitter-typeahead {
  .tt-menu {
    @extend .dropdown-menu;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor {
    @extend .dropdown-item.active;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }
  }
}

.card-columns {
  column-count: 2;
  @media (min-width: 800px) { 
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

.inv_number {
  @extend .btn;
  @extend .btn-sm;
  font-weight: bold;
  font-size: 16px;
}
  .without-owner {
    @extend .btn-danger;
  }
  .with-owner {
    @extend .btn-success;
  }

