@import "variables";

@media (min-width: 800px) { 
  .only-in-smartphone {
    display: none;
  }
}

input.choosen_dsauser {
  @extend .form-control;
  width: 30em;
}

input.awesomplete {
}

.inv_number {
  @extend .badge;
  font-weight: bold;
  font-size: 16px;
  &.found {
    @extend .bg-primary;
    font-size: 130%;
  }
}
.without-owner {
  @extend .bg-danger;
}
.with-owner {
  @extend .bg-success;
}
.unconfirmed-good {
  @extend .bg-warning;
  a {
    @extend .text-white;
  }
}
.unload-good {
  @extend .bg-warning;
}

.old_inv_number {
  @extend .badge;
  @extend .bg-secondary;
  &.found {
    @extend .bg-primary;
    font-size: 100%;
  }
}

.users-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.users-list-letter {
  font-weight: bold;
  grid-column-start: 1; 
  grid-column-end: 2; 
}


