.day-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-family: "Courier New", Courier, monospace;
}
@media (min-width: 900px) {
  .day-container {
    grid-template-columns: repeat(24, 1fr);
  }
}
.one24width {
  text-align: center;
  margin-top: 4px;
}
.booking-mine {
  @extend .btn;
  @extend .btn-success;
}
.booking-bookable {
  @extend .btn;
  @extend .btn-primary;
}
.booking-booked {
  @extend .btn;
  @extend .btn-outline-warning;
}
