<%= dm_card title: 'Carica il file excel di Ugov' do %>
  <%= form_with uploads_path, multipart: true, data: { turbo: false } do %>
    <p>
    <%= file_field_tag 'ugov_excel' %>
    </p>
    <p>
    <%= submit_tag 'invia' %>
    </p>
  <% end %>
<% end %>
